<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{{ ROOT }}/assets/css/xua-documentation.css" rel="stylesheet" type="text/css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ],
       processEscapes: true
      }
    });
  </script>

  <title>%TITLE%</title>
</head>

<body>


  <div id="header">
    <div class='booktitle'>%TITLE%</div>
  </div>

  <div id="main_home">
    <div id="index_content">
      <div class="column">
        <div class="mediumauthors">
          Kamyar Mirzavaziri
          <!-- <br>Author1
          <br>Author2
          <br>etc. -->
        </div>
      </div>
      <div class="column">
        <div class="cover">
          <img src="{{ ROOT }}/assets/images/logo.png">
        </div>
      </div>
      <div id="button_block">
        <a href="docs/index.html">
          <div class="button">Read</div>
        </a>
        <br />
        <a href="xua-doc.zip">
          <div class="button">Download</div>
        </a>
      </div>

    </div>
  </div>
</body>

</html>