<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ ROOT }}/assets/css/xua-documentation.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <title>Xua Documentation</title>
</head>

<body>
    <div id="page-title">
        <h1 id="thebooktitle">
            Xua
            <span class="subtitle">A PHP Code Generator</span>
        </h1>
        <img class="thebookimage" src='{{ ROOT }}/assets/images/logo.png'>
        <br />
        <div class="thebookdate">Winter 1399</div>
        <br />
        <div class="thebookauthor">Kamyar Mirzavaziri</div>
    </div>

</body>

</html>