<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ ROOT }}/assets/css/xua-documentation.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         processEscapes: true
        }
      });
    </script>

    <title>%TITLE% - Xua Documentation</title>
    <style type='text/css'>
        #toc a {
            font-size: 14pt;
        }
    </style>
</head>

<body>

    <div id="page">

        <div id="header">
            <div class='booktitleinheader'><a href='{{ ROOT }}/index.html'>Xua Documentation</a></div>
            <ul id='menu'>
                <li class='menu-item'><a href='{{ ROOT }}/TableOfContents.html'>Table of Contents</a></li>
                <li class='menu-item'><a href='{{ ROOT }}/CheatSheet.html'>Cheat Sheet</a></li>
                <li class='menu-item'><a href='{{ ROOT }}/Architecture.html'>Architecture</a></li>
                <li class='menu-item'><a href='{{ ROOT }}/HandBook.html'>Hand Book</a></li>
            </ul>
        </div>

        <div id="main">
            <h1 class="libtitle">
                %TITLE%
                <span class="subtitle">%SUBTITLE%</span>
            </h1>
            <div id="toc">
                {{ XUA-DOC-HOLDER }}
            </div>
        </div>

    </div>

</body>

</html>